*{
    box-sizing: border-box;
    margin: 0;
}

.App{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h3{
    border: 1px solid black;
    margin: 5px 0px 0px 0px;
    width: 150px;
}

.dropdown{
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 150px;
    justify-content: space-between;
}

.dropdown_label{
    margin: 5px;
}

.dropdown_content{
    border: 1px solid black;
    width: 150px;
    padding: 5px;
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.dropdown_option{
    margin: 5px 0px;
}

.container{
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 100%;
}

.fog{
    position: absolute;
    background-image: url(./assets/fog_png.png);
    overflow: hidden;
    background-position: bottom;
    height: 560px;
    width: 5076px;
    animation: slide 60s linear infinite;
    bottom: 0;
    z-index: 0;
    opacity: 50%;
}

@keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1692px, 0, 0); /* The image width */
    }
  }